<h1 class="display-2 text-dark bg-white"> List of all Hotels </h1>
<table class="table">
  <thead>
    <tr>
      <th> Hotel Name </th>
      <th> Address</th>
      <th> City </th>
      <th> State</th>
      <th> Location </th>
      <th> Client </th>
      <th> Phone </th>
      <th> Website </th>
    </tr>
    <tr>
  </thead>
    <tbody id="hotel-table">
      <% @hotel.each do |hotel| %>
        <tr id="hotel-<%= hotel.id %>">
          <td><%= hotel.name %></td>
          <td><%= hotel.address %></td>
          <td><%= hotel.city %></td>
          <td><%= hotel.state %></td>
          <td><%= hotel.location.country if hotel.location%></td>
          <td><%= hotel.client.name if hotel.client %></td>
          <td><%= hotel.phone %></td>
          <td><%= hotel.website %></td>
          <td><%= link_to 'Show', hotel_branch_path(hotel), class: 'btn btn-primary' %></td>
          <td><%= link_to 'Edit', edit_hotel_branch_path(hotel), {data: { remote: true }, class: 'btn btn-secondary',"data-toggle": "modal", "data-target": "#editModal"} %></td>
          <td><%= button_to 'Delete', hotel_branch_path(hotel), class: 'btn btn-danger', remote: true , method: :delete, data: { confirm: 'Are you sure?' }%></td>
        </tr>
        <% end %>
    </tbody>
</table>

<p>
  <%= link_to 'Add New Hotel' , new_hotel_branch_path , {data: {remote: true}, class: 'btn btn-primary',"data-toggle": "modal", "data-target": "#newModal"} %>
</p>

<p>
  <%= link_to 'Home' , root_path, class: 'btn btn-secondary' %>
</p>

<div id="form-container"></div>

