<div class="container">
  <div class="row justify-content-center mt-4 ">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">Add a New Hotel</div>
        <div class="card-body">
          <%= form_with scope: :hotel_branch  , url: hotel_branches_path, local: true do |f| %>
            <div class="form-group">
              <%= f.label :Name %>
              <%= f.text_field :name, class: 'form-control' %>
            </div>
            <div class="form-group">
              <%= f.label :Address %>
              <%= f.text_field :address, class: 'form-control' %>
            </div>
            <div class="form-group">
              <%= f.label :City%>
              <%= f.text_field :city, class: 'form-control' %>
            </div>
            <div class="form-group">
              <%= f.label :State %>
              <%= f.text_field :state, class: 'form-control' %>
            </div>
            <div class="form-group">
              <%= f.label :Country %><br/>
              <%= f.collection_select :location_id, Location.all, :id, :country %>
            </div>
            <div class="form-group">
              <%= f.label :Phone %>
              <%= f.text_field :phone, class: 'form-control' %>
            </div>
            <div class="form-group">
              <%= f.label :Website %>
              <%= f.text_field :website, class: 'form-control' %>
            </div>
            <div class="form-group">
              <%= f.submit 'Add Hotel', class: 'btn btn-primary' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
