<h1>  Details of  <%= @hotel.name%> </h1>

<p><strong> Name: </strong> <%= @hotel.name%></p>
<p><strong> Address: </strong> <%= @hotel.address%></p>
<p><strong> City: </strong> <%= @hotel.city%></p>
<p><strong> State: </strong> <%= @hotel.state%></p>
<p><strong> Country: </strong> <%= @hotel.country%></p>
<p><strong> Phone: </strong> <%= @hotel.phone%></p>
<p><strong> Website: </strong> <%= @hotel.website%></p>

<p><%= link_to "Back" , hotel_branches_path %></p>