<div class="container mt-5">
  <div class="card">
    <div class="card-header">
      <h1 class="card-title"><%= @hotel.name %></h1>
    </div>
    <div class="card-body">
      <h2 class="card-subtitle mb-2 text-muted">Address:</h2>
        <p class="card-text "> Area: <%= @hotel.address %></p>
        <p class="card-text "> City: <%= @hotel.city %></p>
        <p class="card-text"> State: <%= @hotel.state %></p>
        <p class="card-text"> Location: <%= @hotel.location.name %></p>
       <h2 class="card-subtitle mb-2 text-muted">Number: <%= @hotel.phone %></h2>
       <h2 class="card-subtitle mb-2 text-muted">Website: <%= @hotel.website %></h2>
    </div>
    <div class="card-footer text-muted">
      <%= link_to 'Rooms', rooms_path, class: 'btn btn-primary' %>
      <%= link_to 'Back', hotel_branches_path, class: 'btn btn-secondary' %>
    </div>
  </div>
</div>
