<!-- Add room facility form -->
<div class="container">
  <div class="row justify-content-center mt-4 ">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">Add New Facility Category</div>
        <div class="card-body">
          <%= form_with scope: :room_facility_category, url: room_facility_categories_path, data: {remote: true} do |f| %>
            <div class="form-group">
              <%= f.label :Name%>
              <%= f.text_field :name, class: 'form-control' %>
            </div>
            <div class="form-group">
              <%= f.submit 'Add Category', class: 'btn btn-primary mt-2' %>
            </div>
          <% end %>
          <div class="card-footer text-muted">
            <%= link_to 'Back', room_facility_categories_path, class: 'btn btn-secondary' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>