<tr id=client-<%= @client.id %>>
      <td><%= @client.name %></td>
      <td>
        <% if @client.hotel_branches.empty? %>
          <!-- Button trigger modal to select hotels -->
            <button type="button", class="btn btn-primary", data-bs-toggle="modal", data-bs-target="#selectHotelModal">
              SelectHotel
            </button>
            <!-- Select Hotels modal -->
            <div class="modal fade" id="selectHotelModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">select Hotels</h5>
                    <button type="button" id= "closeselectForm" class="close" data-bs-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <%= form_tag add_hotels_client_path(@client), method: :patch, remote: true do %>
                      <%= select_tag "hotel_branch_ids[]", options_from_collection_for_select(HotelBranch.all, :id, :name), multiple: true %>
                      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
                      <%= submit_tag "Add Hotels", class: "btn btn-primary" %>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
        <% else %>
          <div id="hotels">
              <% @client.hotel_branches.each do |hotel| %>
                <li>
                  <%= hotel.name %>
                </li>
              <% end %>
          </div>
        <% end %>
      </td>

      <td>
        <% @client.hotel_branches.each do |hotel|%>
          <% if hotel.rooms.empty? %>
            <!-- Button trigger modal for adding Rooms -->
            <li>
              <button type="button", class="btn btn-primary mt-2", data-bs-toggle="modal", data-bs-target="#addRoomModal">
                Add Room
              </button>
            </li>
            <!-- Add Room Modal -->
            <div class="modal fade" id="addRoomModal" tabindex="-1" role="dialog" aria-labelledby="addRoomModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="addRoomModalLabel">Add Room</h5>
                    <button type="button" id="closeroomForm" class="close" data-bs-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">

                    <%= form_tag add_rooms_client_path(@client), method: :patch, remote: true %>
                      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
                      <div class="form-group">
                          <label for="hotel_branch_id">Select Hotel</label>
                          <select class="form-control" id="hotel_branch_id" name="room[hotel_branch_id]">
                              <% @client.hotel_branches.each do |hotel| %>
                                  <option value="<%= hotel.id %>"><%= hotel.name %></option>
                              <% end %>
                          </select>
                      </div>
                      <div class="form-group">
                          <label for="room_name">Name</label>
                          <input type="text" class="form-control" id="room_name" name="room[name]">
                      </div>
                      <div class="form-group">
                          <label for="room_capacity">Capacity</label>
                          <input type="text" class="form-control" id="room_capacity" name="room[capacity]">
                      </div>
                      <div class="form-group">
                          <label for="room_price">Price</label>
                          <input type="text" class="form-control" id="room_price" name="room[price]">
                      </div>
                      <div class="form-group">
                          <input type="submit" value="Add Room" class="btn btn-primary mt-2" />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <% else %>
            <% hotel.rooms.each do |room| %>
              <li>
                <%= room.name %>
              </li>
            <% end %>
          <% end %>
        <% end %>
      </td>

      <td>
        <% @client.hotel_branches.each do |hotel|%>
          <% hotel.rooms.each do |room| %>
            <% if room.room_facilities.empty?%>
                <!-- Button trigger modal for adding Room Facilities -->
                <li>
                  <button type="button", class="btn btn-primary mt-2", data-bs-toggle="modal", data-bs-target="#addRoomFacilityModal">
                    Add Room Facility
                  </button>
                </li>
                <!-- Add Room Facility Modal -->
                <div class="modal fade" id="addRoomFacilityModal" tabindex="-1" role="dialog" aria-labelledby="addRoomFacilityModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="addRoomFacilityModalLabel">Add Room Facility</h5>
                        <button type="button" id="closeroomFacilityForm" class="close" data-bs-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <%= form_tag add_room_facilities_client_path(@client), method: :patch, remote: true do %>
                          <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
                          <div class="form-group">
                            <label for="room_id">Select Room</label>
                            <select class="form-control" id="room_id" name="room_facility[room_id]">
                              <% @client.hotel_branches.each do |hotel| %>
                                <% hotel.rooms.each do |room| %>
                                  <option value="<%= room.id %>"><%= room.name %></option>
                                <% end %>
                              <% end %>
                            </select>
                          </div>
                          <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" class="form-control" id="name" name="room_facility[name]">
                          </div>
                          <div class="form-group">
                            <label for="room_facility_category_id">Select Category</label>
                            <select class="form-control" id="room_facility_category_id" name="room_facility[room_facility_category_id]">
                              <% RoomFacilityCategory.all.each do |category| %>
                                <option value="<%= category.id %>"><%= category.name %></option>
                              <% end %>
                            </select>
                          </div>
                          <div class="form-group">
                            <input type="submit" value="Add Room Facility" class="btn btn-primary mt-2" />
                          </div>
                        <% end %>
                      </div>
                    </div>
                  </div>
                </div>
            <% else %>
                <% room.room_facilities.each do |room_facility| %>
                  <li>
                    <%= room_facility.name %>
                  </li>
                <% end %>
            <% end %>
          <% end %>
        <% end %>
      </td>

      <td>
        <ul>
          <% if @room_facility_categories.present? %>
            <% @room_facility_categories.each do |category| %>
              <li><%= category.name %></li>
            <% end %>
          <% else %>
            <li>No Room Facility Categories Found</li>
          <% end %>
        </ul>
        <!-- Button trigger modal for adding room facility category -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addCategoryModal">
          Add Room Facility Category
        </button>
        <!-- Room Facility Category Modal -->
        <div class="modal fade" id="addCategoryModal" tabindex="-1" role="dialog" aria-labelledby="addCategoryModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="addCategoryModalLabel">Add Room Facility Category</h5>
                <button type="button" id="closeCategoryModal" class="close" data-bs-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <%= form_tag add_room_facility_categories_client_path(@client), method: :patch, remote: true do %>
                  <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name" name="room_facility_category[name]">
                  </div>
                  <div class="form-group">
                    <input type="submit" value="Add Room Facility Category" class="btn btn-primary mt-2" />
                  </div>
                <% end %>
              </div>
            </div>
          <div>
        </div>
      </td>

      <td>
        <% if @client.regions.any? %>
            <% @client.regions.each do |region| %>
              <li>
              <%= region.name %>
              </li>
            <% end %>
        <%end %>
    </td>
    <td>
      <% if @client.locations.any? %>
        <% @client.locations.each do |location| %>
          <li>
          <%= location.name %>
          </li>
        <%end%>
      <%end %>
    </td>
</tr>





