<div class="container">
  <div class="row justify-content-center mt-4 ">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">Add a New Client</div>
        <div class="card-body">
          <%= form_with model: @client, url: clients_path, data: {remote: true}, method: :post do |f| %>
            <div class="form-group">
              <%= f.label :Name %>
              <%= f.text_field :name, class: 'form-control' %>
            </div>
            <%= f.hidden_field :user_id, value: current_user.id %>
            <div class="form-group">
              <%= f.submit 'Add Client', class: 'btn btn-primary' %>
            </div>
          <% end %>
          <div class="card-footer text-muted">
            <%= link_to 'Back', clients_path , class: 'btn btn-secondary mt-2' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

