<%= form_with(model: @client, local: true) do |f| %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= link_to 'Show', @client %> |
<%= link_to 'Back', clients_path %>
