  <h1 class="display-2 text-dark bg-white">Hotel Management</h1>
  <p class="lead">Choose the finest!</p>
  <div class="container mt-1">
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <%= image_tag "marriot.jpg" %>
          <div class="card-body">
            <h5 class="card-title">Marriot Hotels</h5>
            <p class="card-text">Experience luxury at its finest.Discover the world, one stay at a time with Marriott.</p>
            <a href="#"><%= link_to "View Details", hotel_branch_path(2) , class: 'btn btn-primary'%></a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <%= image_tag "hilton.jpg" %>  
          <div class="card-body">
            <h5 class="card-title">Hilton Hotels</h5>
            <p class="card-text">Stay with us, and make every trip unforgettable.Experience the best of both worlds - comfort and convenience</p>
            <a href="#"><%= link_to "View Details", hotel_branch_path(1) , class: 'btn btn-primary'%></a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <%= image_tag "vivanta.jpg" %>
          <div class="card-body">
            <h5 class="card-title">Vivanta Hotels</h5>
            <p class="card-text">Stay and Experience the best- Vivanta a TATA subsidiary</p>
            <a href="#"><%= link_to "View Details", hotel_branch_path(6) , class: 'btn btn-primary'%></a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <%= image_tag "rivera.jpg" %>
          <div class="card-body">
            <h5 class="card-title">Rivera Hotels</h5>
            <p class="card-text">Choose from the finest facilities.</p>
            <a href="#"><%= link_to "View Details", hotel_branch_path(3) , class: 'btn btn-primary'%></a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <%= image_tag "hyatt.jpg" %>
          <div class="card-body">
            <h5 class="card-title">Park Hyatt</h5>
            <p class="card-text">Expirience fantastic breezes from our staycations.</p>
            <a href="#"><%= link_to "View Details", hotel_branch_path(8) , class: 'btn btn-primary'%></a>
          </div>
        </div>
      </div>
    </div>
  </div>
