<div class="container">
  <h1>New Nested Form</h1>

  <%= form_for @client do |f| %>
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, class: "form-control" %>
    </div>
    
    <%= f.fields_for :user do |user_form| %>
      <div class="form-group">
        <%= user_form.label :email %>
        <%= user_form.email_field :email, class: "form-control" %>
      </div>
    <% end %>

    <%= f.fields_for :hotel_branches do |hotel_form| %>
      <div class="form-group">
        <%= hotel_form.label :name %>
        <%= hotel_form.text_field :name, class: "form-control" %>
      </div>
      
      <%= hotel_form.fields_for :rooms do |room_form| %>
        <div class="form-group">
          <%= room_form.label :name %>
          <%= room_form.text_field :name, class: "form-control" %>
        </div>
        
        <%= room_form.fields_for :room_facilities do |facility_form| %>
          <div class="form-group">
            <%= facility_form.label :name %>
            <%= facility_form.text_field :name, class: "form-control" %>
          </div>
        <% end %>
      <% end %>
    <% end %>

    <div class="form-group">
      <%= f.submit "Create", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
