<td><%= @region.name %></td>
<td><%= @region.client.name if @region.client %></td>
<td><%= link_to 'Show', region_path(@region), class: 'btn btn-secondary hover-style' %></td>
<td><%= link_to 'Edit', edit_region_path(@region), data: { remote: true }, class: 'btn btn-primary hover-style' %></td>
<td><%= button_to 'Delete', region_path(@region), class: 'btn btn-danger hover-style', remote: true , method: :delete, data: { confirm: 'Are you sure?' }%></td>
