<h1>Regions</h1>

<table>
  <thead>
    <tr>
      <th>Region Name</th>
      <th>Client</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @region.each do |region| %>
      <tr>
        <td><%= region.name %></td>
        <td><%= region.client.name %></td>
        <td><%= link_to 'Show', region_path(region) %></td>
        <td><%= link_to 'Edit', edit_region_path(region) %></td>
        <td><%= link_to 'Destroy', region_path(region), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Region', new_region_path %>
