        <td><%= @location.country %></td>
        <td><%= @location.region.name %></td>
        <td><%= link_to 'Show', location_path(@location), class: 'btn btn-primary' %></td>
        <td><%= link_to 'Edit', edit_location_path(@location), data: { remote: true }, class: 'btn btn-secondary' %></td>
        <td><%= button_to 'Delete', location_path(@location), class: 'btn btn-danger', remote: true , method: :delete, data: { confirm: 'Are you sure?' }%></td> %>